ul{
    background-color:lightpink;
    list-style-type: none;
    overflow: hidden;
}

body{
    background-color: linen;
}

h1{
    color:darkred
}


li{
    float:left;
    padding:10px;
}
a{
     color:black;
}
.boxed {
    border: 1px solid burlywood ;
  }