selector{
    property:value;
    property:value;
}

body{
    background-color: linen;
}
h1{
    color:darkred
}
.titles{
    text-align:center;
}
<ul>
        <li><a href="index.html"  Home ></a></li>
        <li><a href="calendar.html" Calendar></a></li>
    </ul>
